{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<div class="h3 text-center">{% trans "Sign Up" %}</div>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</p>

<form class="signup" id="signup_form" method="post" action="">
  {% csrf_token %}
{#  {{ form|crispy }}#}
    {% crispy form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
    <div class="text-center">
        <button type="submit" class="btn btn-primary">{% trans "Sign Up" %} &raquo;</button>
    </div>
</form>

{% endblock %}

{% block js_stuff %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/5.0.8/jquery.inputmask.min.js" integrity="sha512-efAcjYoYT0sXxQRtxGY37CKYmqsFVOIwMApaEbrxJr4RwqVVGw8o+Lfh/+59TU07+suZn1BWq4fDl5fdgyCNkw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        $(document).ready(function (){
            $("#id_phone").inputmask({mask: "+1 (999) 999-9999", greedy: false});
        })
    </script>
{% endblock js_stuff %}