{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header_stuff %}
    <link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">
{% endblock header_stuff %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="h3 text-start">
                    {% if request.user.is_cleaner %}
                        Hi{% if request.user.first_name %} {{ request.user.first_name }}{% endif %}! Nice to see you here!
                    {% endif %}
                </div>
                {% if request.user.is_cleaner %}
                    <div class="h5">Your company is <b>{{ request.user.company.name }}</b></div>
                {% else %}
                    <div class="h5"><b>Company: </b> {{ request.user.company.name }}</div>
                {% endif %}
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-4">
                <div class="card mb-3 h-100">
                    <div class="card-header text-white bg-success h5">Cleanings Today</div>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <div class="h1 text-center">1/5</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3 h-100">
                    <div class="card-header text-white bg-success h5">Cleanings Tomorrow</div>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <div class="h1 text-center">10</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card mb-3 h-100">
                    <div class="card-header text-white bg-success h5">Cleanings This Month</div>
                    <div class="card-body d-flex justify-content-center align-items-center">
                        <div class="h1 text-center">100</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12 text-center">
                {% if request.user.is_cleaner %}
                    <a href="{% url 'cleaner_own_schedule' %}">View Schedule</a>
                    <a href="{% url 'manage_cleaner_schedule' %}">Manage Schedule</a>
                {% else %}
                    <a href="{% url 'cleaner_schedule' object.uuid %}">View Schedule</a>
                {% endif %}
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-lg-12">
                <div class="h3 text-center">{% if request.user.is_cleaner %}Your {% endif %}Cleanings for Today</div>
                {% with self.object.get_cleanings_for_today as cleanings %}
                    {% include "cleanings/partials/cleanings_table_for_cleaner.html" %}
                {% endwith %}
                <div class="text-center mt-3">
                    {% if request.user.is_cleaner %}
                        <a href="{% url 'cleanings' %}">View All</a>
                    {% else %}
                        <a href="{% url 'any_cleaner_cleanings' object.uuid %}">View All</a>
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
{% endblock content %}

{% block js_stuff %}
    <script type="text/javascript" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $("table").DataTable({
                order: [],
            });
        })
    </script>
{% endblock js_stuff %}