{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header_stuff %}
{% endblock header_stuff %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="h3 text-start">
                    Manage Schedule
                </div>
                <div class="d-flex justify-content-start align-items-start">
                    <div class="h5">Period: {{ period.date_start|date:"m/d/Y" }}-{{ period.date_end|date:"m/d/Y" }}</div>
                    <div class="schedule-navigation ms-3">
                        {% with period.get_previous_period as previous_period %}
                            {% if previous_period %}
                                <a href="?period={{ previous_period.uuid }}">
                                    <i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                            {% else %}
                                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                            {% endif %}
                        {% endwith %}
                        {% with period.get_next_period as next_period %}
                            {% if next_period %}
                                <a href="?period={{ period.get_next_period.uuid}}">
                                    <i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                            {% else %}
                                <i class="fa fa-chevron-right" aria-hidden="true"></i>
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {% include "cleaners/partials/schedule_table.html" %}
                <div class="mt-3 text-center">
                    <button onclick="history.back()" class="btn btn-secondary me-1">Back</button>
                    {% if object == request.user %}
                        <a href="{% url 'manage_cleaner_schedule' %}?period={{ period.uuid }}"
                           class="btn btn-primary">Manage Schedule</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_stuff %}
{% endblock js_stuff %}