{% extends "base.html" %}

{% block header_stuff %}
    <link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">
{% endblock header_stuff %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="h3 text-center">Companies</div>
{#                <div class="mb-3 text-end">#}
{#                    <a href="{% url 'company_create' %}" class="btn btn-primary">Add New</a>#}
{#                </div>#}

                <div class="table-responsive mt-3">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Region</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in object_list %}
                            <tr>
                                <td>{{ item.name }}</td>
                                <td>{{ item.region.name }}</td>
                                <td>
                                    {% with item.get_last_fees_snapshot as company_fees_snapshot %}
                                        {% if company_fees_snapshot and company_fees_snapshot.is_accepted %}
                                            Active
                                        {% elif company_fees_snapshot and company_fees_snapshot.is_accepted %}
                                            Service fees are not accepted
                                        {% else %}
                                            This company did not receive service fees proposal
                                        {% endif %}
                                    {% endwith %}
                                </td>
                                <td>
                                    <a href="{% url 'any_company' item.uuid %}">View</a>
                                    <a href="{% url 'any_company_update' item.uuid %}">Update</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}

{% block js_stuff %}
    <script type="text/javascript" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $("table").DataTable({
                order: [],
            })
        })
    </script>
{% endblock js_stuff %}