{% extends "base.html" %}

{% block header_stuff %}
    <link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">
{% endblock header_stuff %}

{% block content %}
    {% with object.get_last_fees_snapshot as last_snapshot %}
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {% if request.user.is_general_admin %}
                        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'any_company' object.uuid %}">{{ object.name }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Service Fees</li>
                            </ol>
                        </nav>
                    {% endif %}
                    <div class="h3 text-center">Service Fees</div>
                    <div class="text-center">
                        {% if last_snapshot.is_accepted %}
                            <div class="">These service fees have been accepted at {{ last_snapshot.accepted_dt }}</div>
                        {% else %}
                            <div class="alert alert-danger">These service fees have not been accepted yet.</div>
                            {% if request.user.is_manager %}
                                <div>
                                    <a href="{% url 'accept_company_fees' last_snapshot.uuid %}" class="btn btn-success mt-3">Accept Now</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-12">
                    {% include "companies/partials/service_fees_table.html" %}
                </div>
            </div>
        </div>
    {% endwith %}
{% endblock content %}

{% block js_stuff %}
    <script type="text/javascript" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $("table").DataTable({
                order: [],
            })
        })
    </script>
{% endblock js_stuff %}