{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header_stuff %}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/sunny/jquery-ui.min.css" integrity="sha512-bK9/5A1BwPJ8jYk16TyP4vJABe531hdsYppilDh7MFq7bZELm0QWZW7shSRAG/x5JO4LCX4YZGQM4tjRBakQkA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.14.0/jquery.timepicker.min.css" integrity="sha512-WlaNl0+Upj44uL9cq9cgIWSobsjEOD1H7GK1Ny1gmwl43sO0QAUxVpvX2x+5iQz/C60J3+bM7V07aC/CNWt/Yw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% include "partials/select2_css.html" %}
{% endblock header_stuff %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="h3 text-center">Booking</div>
                <div class="text-center mb-3">for <a href="{% url 'place' place.uuid %}">{{ place.name }}</a></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 mx-auto">
                {% if object %}
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="alert {{ object.get_status_notification_class }}">
                                <b>Status: </b> {{ object.get_status_display }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                <div class="card">
                    <div class="card-body">
                        {% crispy form %}
                        {% if object and object.status < object.STATUS_COMPLETED %}
                            <div class="text-center mt-3">
                                <a href="{% url 'booking_cancel' object.uuid %}">Cancel Booking</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_stuff %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.0/moment.min.js" integrity="sha512-Izh34nqeeR7/nwthfeE0SI3c8uhFSnqxV0sI9TvTcXiFJkMd6fB644O64BRq2P/LA/+7eRvCw4GmLsXksyTHBg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.14.0/jquery.timepicker.min.js" integrity="sha512-s0SB4i9ezk9SRyV1Glrj/w5xS5ExSxXiN44fQeV9GYOtExbVWnC+mUsUyZdIYv6qXL0xe1qvpe0h1kk56gsgaA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    {% include "partials/select2_js.html" %}
    <script>
        $(document).ready(function (){
            $("#id_services").select2({theme: 'bootstrap-5'}).trigger('change');

            $(".timeinput").each(function (){
                $(this).timepicker({
                    timeFormat: 'h:i a',
                    step: 15,
                    minTime: "9:00 am",
                    maxTime: "6:00 pm",
                });
            })

            var minDate = moment().format('MM/DD/YYYY');
            $(".dateinput").each(function (){
                $(this).datepicker({
                    dateFormat: "mm/dd/yy",
                    numberOfMonths: 1,
                    minDate: minDate
                });
            })

            $("#id_services").on("change", function (){
                calculateTotalFee()
            })

            function calculateTotalFee(){
                total_fee = 0

                $("#id_services option:selected").each(function (){

                    if($(this).attr("data-is-area-based-fee") == "True"){
                        fee = parseInt($(this).data("fee")) * parseFloat("{{ place.area_size }}")
                    }else{
                        fee = parseInt($(this).data("fee"));
                    }

                    total_fee += fee;
                })
                $("#total_fee").text(total_fee);
            }

            calculateTotalFee();

            $("#id_regularity_type").on("change", function (){
                console.log($("#regularity_option_wrapper"));
                $("#regularity_option_wrapper").toggleClass("d-none");
            })

        })
    </script>
{% endblock js_stuff %}