<div class="card mb-3">
    <div class="card-body">
        <div class="h3 text-center">Booking Details</div>
        <div>
            {% if request.user.is_general_admin or request.user.is_support_agent or object.status == object.STATUS_NEW %}
                <div class="alert {{ object.get_status_notification_class }}">
                    <b>Status:</b> {{ object.get_status_display }}
                </div>
            {% endif %}

            {% if object.user == request.user %}
                {% if object.status == object.STATUS_NEW %}
                    <div class="mt-3 mb-3">
                        <b>Note: You can update your booking until this status is not changed to "In work"</b>
                    </div>
                {% elif object.status == object.STATUS_IN_WORK %}
                    <div>We have confirmed your booking!</div>
                    {% with object.get_cleaners as cleaners %}
                        {% if cleaners %}
                            <div class="h3">Cleaner{% if cleaners|length > 1 %}s{% endif %}:</div>
                            {% for cleaner in cleaners %}
                                <div class="card">
                                    <div class="card-body">
                                        {{ cleaner.first_name }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                {% endif %}
            {% endif %}
        </div>

        <div>
            <ul class="list-unstyled">
                <li><b>Id:</b> {{ object.short_id|stringformat:"s" }}</li>
                <li><b>Created: </b>{{ object.created|date:"m/d/Y H:i:s" }}</li>
                <li><b>Regularity: </b>{{ object.get_regularity_type_display }}</li>
                {% if object.get_is_regular %}
                    <li><b>Regularity Option:</b> {{ object.get_regularity_option_display }}</li>
                {% endif %}

                <li class=""><b>Place: </b>{{ object.place.get_full_address }}</li>
                <li class="mt-3"><b>{% if object.client == request.user %}Your {% endif %}Comments: </b>
                    {% if object.comments %}
                        {{ object.comments|linebreaks }}
                    {% else %}
                        no comments
                    {% endif %}
                </li>

                <li class=""><b>Cleaners preferences: </b>
                    {% for cleaner in booking.preferred_cleaners.all %}
                        {{ cleaner }}{% if not forloop.last %},{% endif %}
                    {% endfor %}
                </li>

                {% if request.user.is_general_admin %}
                    <li class=""><b>Special Request: </b>
                        {{ object.special_request|default_if_none:""|linebreaks }}
                    </li>
                {% endif %}

            </ul>

            <div class="mt-3 table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Service</th>
                            <th>Fee, USD</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for booked_service in object.get_booking_services %}
                        <tr>
                            <td>{{ booked_service.service.name }}</td>
                            <td>{{ booked_service.fee }}</td>
                        </tr>
                    {% endfor %}
                    {% if object.discount_code %}
                        <tr>
                            <td>Initial Fees</td>
                            <td>{{ object.total_fee }}</td>
                        </tr>
                        <tr>
                            <td>Discount</td>
                            <td>{{ object.discount_amount }} ({{ object.discount_code|default_if_none:"no code" }})</td>
                        </tr>
                    {% endif %}
                    <tr>
                        <td>Total Fee</td>
                        <td>{{ object.total_fee_final }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        {% if object.score_for_cleaner %}
           <div class="mt-3">
               <ul class="list-unstyled">
                   <li><b>Score for cleaner: </b> {{ object.score_for_cleaner }}</li>
                   <li><b>Feedback for cleaner: </b> {{ object.feedback_for_cleaner|default_if_none:""|linebreaks }}</li>
               </ul>
           </div>
        {% endif %}

        <div class="text-center mt-3">
            <button onclick="history.back()" class="btn btn-secondary">Back</button>
            {% if request.user.is_general_admin %}
                <a href="{% url 'booking_update' object.uuid %}" class="btn btn-primary ms-1">Edit</a>
            {% endif %}

            {% if object.client == request.user %}
                {% if object.status == object.STATUS_COMPLETED %}
                    {% if not object.score_for_cleaner %}
                        <a href="{% url 'booking_update' object.uuid %}" class="btn btn-primary">Score the Cleaner</a>
                    {% endif %}
                {% elif not request.user.is_general_admin %}
                    <a href="{% url 'booking_update' object.uuid %}" class="btn btn-primary">Edit</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>

