{% if request.user.is_general_admin %}
    {% if booking.status == booking.STATUS_NEW or booking.status == booking.STATUS_CANCELLED_BY_SERVICE %}
        <div class="row mt-3">
            <div class="col-lg-12">
                <div class="h3 text-center">
                    Companies in {{ booking.place.region }}
                </div>

                <div class="table-responsive mt-3">
                    {% if booking.preferred_cleaners.all.exist %}
                        <div class="alert alert-success">
                            The client prefers to have the following cleaners:
                            <ul>
                                {% for item in booking.preferred_cleaners.all %}
                                    <li>{{ item }} from <b>{{ item.company }}</b></li>
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <table id="table_companies" class="table table-striped table-bordered" width="100%">
                        <thead>
                        <tr>
                            <th>Company</th>
                            <th>Status</th>
                            <th>Is available</th>
                            <th>Special Request</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% with object.is_active_cleaning as is_active_cleaning %}
                            {% for company in booking.place.region.get_companies %}
                                {% with company.get_last_fees_snapshot as company_fees_snapshot %}
                                    {% with company|get_company_availability_for_booking:object as is_company_available_for_dt %}
                                        <tr>
                                            <td width="40%">{{ company.name }}</td>
                                            <td>
                                                {% if company_fees_snapshot and company_fees_snapshot.is_accepted %}
                                                    Active
                                                {% elif company_fees_snapshot and company_fees_snapshot.is_accepted %}
                                                    Service fees are not accepted
                                                {% else %}
                                                    This company did not receive service fees proposal
                                                {% endif %}
                                            </td>
                                            <td>{{ is_company_available_for_dt }}</td>
                                            <td>
                                                {% with company|get_special_cleaning_request_for_booking:object as special_cleaning_request %}
                                                    {% if not special_cleaning_request %}
                                                        <a href="{% url 'send_special_request_for_cleaning' object.uuid company.uuid %}"
                                                           class="btn btn-primary me-1">
                                                            Send
                                                        </a>
                                                    {% elif special_cleaning_request.fee %}
                                                        <div><b>Fee:</b> {{ special_cleaning_request.fee }} USD</div>
                                                        <div><b>Comments: </b>
                                                            {{ special_cleaning_request.comments|default_if_none:""|linebreaks }}
                                                        </div>
                                                    {% else %}
                                                        Waiting for estimation
                                                    {% endif %}
                                                {% endwith %}
                                            </td>
                                            <td>
                                                {% if not is_active_cleaning %}
                                                    {% if is_company_available_for_dt %}
                                                        {% if company_fees_snapshot and company_fees_snapshot.is_accepted %}
                                                            <a href="{% url 'booking_assign' object.uuid company.uuid %}"
                                                               class="btn btn-success">Assign</a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endwith %}
                                {% endwith %}
                            {% endfor %}
                        {% endwith %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-success text-center mt-3 mb-3">This booking has been assigned to a company</div>
    {% endif %}
{% endif %}