{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cleaning Service</title>

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.css">

        <!-- Custom styles for this template -->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">

        {% block header_stuff %}
        {% endblock header_stuff %}
    </head>
    <body>

        <div class="wrapper">
            {% include "navbar.html" %}
            <div class="content-wrapper d-flex flex-column">
                <div class="row">
                    <div class="col-lg-12">
                        {% include 'hijack_toolbar.html' %}
                    </div>
                </div>
                {% block content %}{% endblock content %}
            </div>

            {% include "footer.html" %}

        </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js" integrity="sha512-3gJwYpMe3QewGELv8k/BX9vcqhryRdzRMxVfq6ngyWXwo03GFEzjsUm8Q7RZcHPHksttq7/GFoxjCVUjkjvPdw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js" integrity="sha512-1/RvZTcCDEUjY/CypiMz+iqqtaoQfAITmNSJY17Myp4Ms5mdxPS5UV7iOfdZoxcGhzFbOm6sntTKJppjvuhg4g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


        <!-- Font awesome is not required provided you change the icon options -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/solid.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/js/fontawesome.min.js"></script>
        <!-- end FA -->

        <script src="//cdn.jsdelivr.net/npm/toastr@2.1.4/build/toastr.min.js"></script>
        <script src="{% static 'js/scripts.js' %}"></script>

        <!-- Toastr settings -->
        <script type="text/javascript" src="{% static 'js/toastr_settings.js' %}"></script>
        {% if messages %}
            <script type="text/javascript">
                {% for message in messages %}
                    toastr.{{ message.tags }}("{{ message }}");
                {% endfor %}
            </script>
        {% endif %}

        {% block js_stuff %}
        {% endblock js_stuff %}

    </body>
</html>
