<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Cleaning Service</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                {% if request.user.is_client %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'places' in request.path %}active{% endif %}"
                           href="{% url 'places' %}">Places</a>
                    </li>
                {% endif %}

                {% if request.user.is_general_admin or request.user.is_client %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'bookings' in request.path %}active{% endif %}"
                           href="{% url 'bookings' %}">Bookings</a>
                    </li>
                {% endif %}

                {% if request.user.is_general_admin %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'company-service-fees' in request.path %}active{% endif %}"
                           href="{% url 'services' %}">Service Fees</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'companies' in request.path %}active{% endif %}"
                           href="{% url 'companies' %}">Companies</a>
                    </li>
                {% endif %}

                {% if request.user.is_manager %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == "company" %}active{% endif %}"
                           href="{% url 'company' %}">Company</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'cleaning' in request.path %}active{% endif %}"
                           href="{% url 'cleanings' %}">Cleanings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'company-cleaners' in request.path %}active{% endif %}"
                           href="{% url 'company_cleaners' %}">Cleaners</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if 'company-service-fees' in request.path %}active{% endif %}"
                           href="{% url 'company_service_fees' %}">Service Fees</a>
                    </li>
                {% endif %}

                {% if request.user.is_cleaner %}
                    <li class="nav-item">
                        <a class="nav-link {% if 'cleaning' in request.path %}active{% endif %}"
                           href="{% url 'cleanings' %}">Cleanings</a>
                    </li>
                {% endif %}

            </ul>
            <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                {% if not request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_signup' %}">Sign up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_login' %}">Log in</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Log out</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>