<div class="input-group mb-0">

    <div class="form-control custom-file{% if field.errors %} is-invalid{%endif%}" style="border:0">
        <input type="{{ widget.data.type }}" name="{{ widget.data.name }}"
               class="custom-file-input{% if widget.data.attrs.class %} {{ widget.data.attrs.class }}{% endif %}
                                {% if field.errors %} is-invalid{%endif%}"{% if field.field.disabled %} disabled{% endif %}
        {% for name, value in widget.data.attrs.items %}
            {% if value is not False and name != 'class' %} {{ name }}
                {% if value is not True %}="{{ value|stringformat:'s' }}"{% endif %}{% endif %}
        {% endfor %}>
    </div>


    {% if not widget.data.is_initial %}
        {% include 'bootstrap5/layout/help_text_and_errors.html' %}
    {% endif %}
    {% if widget.data.is_initial %}
        </div>
        <div class="input-group mb-0">
            {% include 'bootstrap5/layout/help_text_and_errors.html' %}
        </div>
    {% endif %}

</div>


<script type="text/javascript" id="script-{{ field.id_for_label }}">
    document.getElementById("script-{{ field.id_for_label }}").parentNode.querySelector('.custom-file-input').onchange =  function (e){
        var filenames = "";
        for (let i=0;i<e.target.files.length;i++){
            filenames+=(i>0?", ":"")+e.target.files[i].name;
        }
        e.target.parentNode.querySelector('.custom-file-label').textContent=filenames;
    }
</script>