{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-body text-center">
                        <div class="h3 text-center">Some error occured!</div>
                        <div>Your user role is undefined.</div>
                        <div>Please contact our service support.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}