{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block header_stuff %}
    <link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    {% include "partials/select2_css.html" %}
{% endblock header_stuff %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <div class="h3 text-center">Profile Update</div>
                <div>
                    {% crispy form %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js_stuff %}
    {% include "partials/select2_js.html" %}
    <script>
        $(document).ready(function (){
            $("#id_services, .selectmultiple").select2({theme: 'bootstrap-5'}).trigger('change');

            $(".timeinput").each(function (){
                $(this).timepicker({
                    timeFormat: 'h:i a',
                    step: 15,
                    minTime: "9:00 am",
                    maxTime: "6:00 pm",
                });
            })
        })
    </script>
{% endblock js_stuff %}