{% load crispy_forms_tags %}
{% load general %}

<div class="table-responsive mt-3">
    <table class="table table-bordered table-striped cleanings-table">
        <thead>
        <tr>
            <th>Place Name</th>
            <th>Date</th>
            <th>Cleaner</th>
            <th>Status</th>
            <th>Score</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
            {% for cleaning in cleanings %}
                <tr data-uuid="{{ cleaning.uuid }}">
                    <td>{{ cleaning.booking.place.name }}</td>
                    <td>{{ cleaning.get_scheduled_dt_range }}</td>
                    <td>
                        {% with cleaning.booking.scheduled_date as date %}
                            {% with forms_by_dates|get_item:date as form %}
                                {% crispy form %}
                            {% endwith %}
                        {% endwith %}
                    </td>
                    <td>{{ cleaning.get_status_display }}</td>
                    <td>{{ cleaning.booking.score_for_cleaner|default_if_none:"" }}</td>
                    <td>
                        <a href="{% url 'cleaning' cleaning.uuid %}" class="btn btn-primary">View</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>