{% extends "base.html" %}

{% block header_stuff %}
    <link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">
{% endblock header_stuff %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="h3 text-center">Places Details</div>
                <div class="mb-3 text-end">
                    <a href="{% url 'place_create' %}" class="btn btn-primary">Add New</a>
                </div>
                <div class="table-responsive mt-3">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Type</th>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Comments</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for place in request.user.get_places %}
                            <tr>
                                <td>{{ place.get_type_display }}
                                    {% if place.type == place.PLACE_TYPE_HOUSE %}
                                        ({{ place.area_size|default_if_none:0 }} sqft)
                                    {% endif %}
                                </td>
                                <td>{{ place.name|default_if_none:"" }}</td>
                                <td>{{ place.get_full_address }}</td>
                                <td>{{ place.comments|linebreaks|truncatewords:50 }}</td>
                                <td>
                                    <a href="{% url 'place_update' place.uuid %}">Update</a>
                                    <a href="{% url 'place' place.uuid %}">View</a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js_stuff %}
    <script type="text/javascript" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $("table").DataTable({
                order: [],
            })
        })
    </script>
{% endblock js_stuff %}