{% extends "base.html" %}

{% block header_stuff %}
    <link href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="//cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" rel="stylesheet">
{% endblock header_stuff %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col-lg-6 mb-3">
                        <ul class="list-unstyled">
                            <li><b>Name: </b>{{ object.name }}</li>
                            <li><b>Type: </b>{{ object.type.name }}</li>
                            <li><b>Address: </b>{{ object.name }}</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled">
                            <li><b>Comments: </b>{{ object.comments|linebreaks }}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 mb-3">
                <div class="text-end">
                    <button onclick="history.back()" class="btn btn-secondary">Back</button>
                    <a href="{% url 'place_update' object.uuid %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'booking_for_place_create' object.uuid %}" class="btn btn-success">New Order</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="h3 text-center">Bookings</div>
                <div class="card-body">
                    {% include "bookings/partials/client_bookings_table.html" with object_list=object.get_bookings %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block js_stuff %}
    <script type="text/javascript" src="//cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function(){
            $("table").DataTable({
                order: [],
            })
        })
    </script>
{% endblock js_stuff %}