@import url('//fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

html, body, .wrapper{
    min-height: 100%;
}

html{
    scroll-behavior: smooth !important;
}

body{
    padding:0;
    margin:0;
    position:relative;
    background-color: white;
    font-size: 16px;
    font-family: 'DM Sans', sans-serif;
    color: #24282b;
    font-weight: 400;
}

html, body {
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

.navbar{
    background-color: white;
    height: 60px;
}

.nav-link{
    color: #212529;
}

.wrapper{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.content-wrapper{
    flex: 1;
    width: 100%;
}

.footer{
    /*margin-top: 30px;*/
}

.nav-item .nav-link{
    color: #b7b5b5;

}

div.dataTables_wrapper div.dataTables_filter{
    margin-bottom: 0.5em;
}

table tr th, table tr td{
    vertical-align: middle;
}

table tr th:not(:nth-of-type(1)),
table tr td:not(:nth-of-type(1)){
    text-align: right!important;
}

.list-group-item.active a{
    color: white;
}

.va-center thead th{
    vertical-align: middle;
}

.schedule-navigation a{
    cursor: pointer;
}

.cleanings-table tr th,
.cleanings-table tr td{
    vertical-align: middle;
}

.messages-container{
    height: 300px;
    overflow-y: auto;
}

.minimap-container{
    height: 200px;
    margin-bottom: 50px !important;
}

.services-selection-card{
    width: 100%;
    margin: 45px 0px 0px;
    background: #140e2f;
    border-radius: 24px;
    color: white;
}

.total-amount-card, .service-price-card{
    width: 100%;
    padding: 14px 30px;
    max-height: fit-content;
    background: #241c4e;
    border-radius: 12px;
    color: white;
}

.total-amount-label{
    margin-top: 0;
    margin-bottom: 0.5em;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.75);
    text-transform: uppercase;
    letter-spacing: 0.2px;
}

.total-amount{
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 46px;
    color: #ffffff;
    margin: 0px;

}

.table-service-prices{
    color: white;
}

.table-service-prices th{
    text-transform: uppercase;
}

.small-text{
    font-size: 0.7em;
}

.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.checkbox-for-custom-file{
    padding: .375rem .75rem;
}

.image-preview-in-uploading-widget{
    max-height: 120px
}

.regularity-option{
    font-size: 0.8em;
    line-height: 1;
    color: #888383;
}

.gsi-material-button {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    height: 40px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
    max-width: 400px;
    min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
}

.login-or{
    font-size: 1em;
    margin-bottom: 1em;
}